html{
    width:100%;
    height:100%;}
body{
    
    background-image: url(images/background.jpg); 
    background-size:cover;
    background-repeat:no-repeat;
}
.words{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:5%;
    
}
/* #exampleInputEmail1{
    width:50%;
    align-content: center;
    z-index: 700;
} */
.btn{
    margin-top:40%;
    padding:10px;
    margin:10px;
    background-color:rgb(141, 201, 224);
    z-index: 200;
    position:relative;
}
.btn:hover{
    background-color:pink;
}

.powerTitle{
    font-family:sans-serif;
    font-size: 18px;
    font:italic;
    margin-top:5%;
}

iframe{
    height:50%;
    width:60%;
}

.figma{
    margin-top:5%;
    height:50%;
    width:50%;
}
  .presentation-box{
      height:850px;
  }
  .form-group{
      width:50%;
      align-items: center;
      margin-left:25%;
      margin-top:-0%;
      z-index: 700;
      
  } 
  input{
      /* margin-left:25%; */
      z-index: 200;
      width:50%;
  } 